# Ejecutables compilados
server/server
server/dns_server
client-c/client

# Archivos de logs
*.txt
*.log

# Archivos de compilación
*.o

# Variables de entorno — nunca subir al repo
.env

__pycache__/.env


# Python
client-python/__pycache__/
client-python/.venv/

# Ejecutables y logs
server/server
server/dns_server
*.txt
*.log